@model EF_Models.Models.PhieuTra

@{
    ViewBag.Title = "Tạo phiếu trả";
}

<center><h2>Quản lý trả sách</h2></center>

<div class="borrow-book">
    <form class="form-horizontal form-input">
        <div class="form-group">

            <label for="inputmavach" class="col-xs-12 col-md-offset-1 col-md-4 control-label">Mã vạch cuốn sách</label>
            <div class="col-xs-8 col-md-4">
                <div class="input-group">
                    <input class="form-control" id="inputmavach" type="text" placeholder="Nhập mã vạch cuốn sách" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Thêm</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-3 col-md-offset-1 col-md-2 text-right">
                <a class="btn btn-primary" href="/PhieuTra/Details/1"><i class="fa fa-check" aria-hidden="true"></i>Hoàn tất</a>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-md-1">STT</th>
                <th class="col-md-1">Mã vạch</th>
                <th class="col-md-2">Tên đầu sách</th>
                <th class="col-md-2">Tên tác giả</th>
                <th class="col-md-1">Mã độc giả</th>
                <th class="col-md-2">Tên độc giả</th>
                <th class="col-md-2">Ngày hết hạn</th>
                <th class="col-md-1">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-default btn-xs" type="button"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>