@model EF_Models.Models.PhieuTra

@{
    ViewBag.Title = "Xuất phiếu trả";
}

<center><h2>Quản lý trả sách</h2></center>

<div class="text-right btn-inphieu">
    <button class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>  In phiếu trả</button>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="info-docgia">
            <div class="detail-docgia col-md-4">
                <h4>Mã phiếu trả: PT1</h4>
                <h4>Mã phiếu mượn: PM1</h4>
                <h4>Mã thẻ: DG1</h4>
                <h4>Tên độc giả: Huỳnh Kim Xuân</h4>
                <h4>Số điện thoại: 01212186931</h4>
                <h4>Chức vụ: Sinh viên</h4>
            </div>
            <div class="detail-docgia col-md-5">
                <h4>Email: kimxuanhuynh21@gmail.com</h4>
                <h4>Ngày mượn sách: 15/10/2016</h4>
                <h4>Ngày trả: 17/10/2016</h4>
                <h4>Địa chỉ: <br /> Phan Văn Khỏe, P5, Q6, TP.HCM</h4>
            </div>
        </div>
    </div>
</div>
<div class="borrowed-books">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-md-1">STT</th>
                <th class="col-md-2">Mã vạch</th>
                <th class="col-md-3">Tên đầu sách</th>
                <th class="col-md-3">Tên tác giả</th>
                <th class="col-md-3">Tên thể loại</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
