@model IEnumerable<EF_Models.Models.ChiTietTra>

@{
    ViewBag.Title = "Quản lý trả sách";
}

<center><h2>Quản lý trả sách</h2></center>

<div class="lend-book">
    <form class="form-horizontal form-input">
        <div class="form-group">

            <label for="inputmaphieumuon" class="col-xs-12 col-md-offset-1 col-md-4 control-label">Mã phiếu mượn</label>
            <div class="col-xs-9 col-md-4">
                <div class="input-group">
                    <input class="form-control" id="inputmaphieumuon" type="text" placeholder="Nhập mã phiếu mượn" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-3 col-md-offset-1 col-md-2 text-right">
                <a class="btn btn-primary" href="/PhieuTra/Create">Nhận trả sách</a>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="info-docgia">
                <div class="detail-docgia col-md-4">
                    <h4>Mã phiếu mượn: PM1</h4>
                    <h4>Mã thẻ: DG1</h4>
                    <h4>Tên độc giả: Huỳnh Kim Xuân</h4>
                    <h4>Số điện thoại: 01212186931</h4>
                    <h4>Chức vụ: Sinh viên</h4>
                </div>
                <div class="detail-docgia col-md-5">
                    <h4>Email: kimxuanhuynh21@gmail.com</h4>
                    <h4>Ngày mượn sách: 15/10/2016</h4>
                    <h4>Ngày hết hạn: 20/10/2016</h4>
                    <h4>Địa chỉ: <br /> Phan Văn Khỏe, P5, Q6, TP.HCM</h4>
                </div>
            </div>
        </div>
    </div>
 
</div>
