@*@model IEnumerable<EF_Models.Models.ChiTietTra>*@

@{
    ViewBag.Title = "Quản lý trả sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><h2>Quản lý trả sách</h2></center>
<div ng-controller="TraSachCtrl">
    <div class="borrow-book" >
        <form class="form-horizontal form-input">
            <div class="form-group">
                <label for="inputmavach" class="col-xs-12 col-md-offset-1 col-md-4 control-label">Mã thẻ độc giả</label>
                <div class="col-xs-8 col-md-4">
                    <div class="input-group">
                        <input ng-model="maTheDocGia" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="nhapDocGia(maTheDocGia)">Kiểm tra</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputmavach" class="col-xs-12 col-md-offset-1 col-md-4 control-label">Mã vạch cuốn sách</label>
                <div class="col-xs-8 col-md-4">
                    <select name="" id=""
                            ng-options="option.Name for option in CuonSach.availableOptions track by option.ID"
                            ng-model="CuonSach.selectedOption"
                            ng-change="change_cuonsach(CuonSach.selectedOption.ID)"
                            class="form-control"
                            style="width:200px">
                        <option ng-repeat="option in CuonSach.availableOptions" ng-value="option.value">{{option.name}}</option>
                    </select>
                </div>
                </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">STT</th>
                    <th class="col-md-2">Mã vạch</th>
                    <th class="col-md-3">Tên đầu sách</th>
                    <th class="col-md-3">Tên tác giả</th>
                    <th class="col-md-2">Ngày hết hạn</th>
                    <th class="col-md-1">Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listSachTra | orderBy: 'MaVach'">
                    <td>{{$index+1}}</td>
                    <td>{{item.MaVach}}</td>
                    <td>{{item.TenDauSach}}</td>
                    <td>{{item.TenTacGia}}</td>
                    <td>{{displayDate(item.NgayHetHan);}}</td>
                    <td><button class="btn btn-danger btn-xs" type="button" ng-click="removeCuonSach(item.MaVach)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12" style="margin: 20px">
        <div class="col-xs-3 col-md-offset-4 col-md-3 text-right">
            <button class="btn btn-block btn-primary btn-lg" ng-click="detailPhieuTra(maTheDocGia)"><i class="fa fa-check" aria-hidden="true"></i>Hoàn tất</button>
        </div>
    </div>

    <div ng-show="phieuTraShow">
        <div class="text-right btn-inphieu">
            <button class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>  In phiếu trả</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="info-docgia">
                    <div class="detail-docgia col-md-4">
                        <h4>Mã phiếu trả: {{phieuTra.MaPhieuTra}}</h4>
                        <h4>Mã phiếu mượn: {{phieuTra.MaPhieuMuon}}</h4>
                        <h4>Mã thẻ: {{phieuTra.DocGia.MaThe}}</h4>
                        <h4>Tên độc giả: {{phieuTra.DocGia.Ten}}</h4>
                        <h4>Số điện thoại:{{phieuTra.DocGia.DienThoai}}</h4>
                        <h4>Chức vụ: {{phieuTra.DocGia.Loai}}</h4>
                    </div>
                    <div class="detail-docgia col-md-5">
                        <h4>Email: {{phieuTra.DocGia.Email}}</h4>
                        <h4>Ngày mượn sách: {{displayDate(phieuTra.NgayMuonSach)}}</h4>
                        <h4>Ngày trả: {{displayDate(phieuTra. NgayTra)}}</h4>
                        <h4>Địa chỉ: <br /> {{phieuTra.DocGia.DiaChi}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="borrowed-books">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">STT</th>
                        <th class="col-md-2">Mã vạch</th>
                        <th class="col-md-3">Tên đầu sách</th>
                        <th class="col-md-3">Tên tác giả</th>
                        <th class="col-md-3">Tên thể loại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in phieuTra.dsChiTietTra | orderBy : 'MaVach'">
                        <td>{{$index + 1}}</td>
                        <td>{{item.CuonSach.MaVach}}</td>
                        <td>{{item.CuonSach.DauSach.Ten}}</td>
                        <td>{{item.CuonSach.DauSach.TacGia.Ten}}</td>
                        <td>{{item.CuonSach.DauSach.TheLoai.Ten}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>