@model EF_Models.Models.PhieuMuon

@{
    ViewBag.Title = "Create";
}
<center><h2>Quản lý mượn sách</h2></center>

<div class="borrowed-books">
    <form class="form-horizontal form-input">
        <div class="form-group">

            <div class="col-xs-9 col-md-4">
                <div class="input-group">
                    <input class="form-control" id="inputmavach" type="text" placeholder="Nhập mã vạch cuốn sách">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Thêm</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-3 col-md-8 text-right">
                <a class="btn btn-success" href="/PhieuMuon/Details/1"><i class="fa fa-check" aria-hidden="true"></i>Hoàn tất</a>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã vạch</th>
                <th>Tên đầu sách</th>
                <th>Tên thể loại</th>
                <th>Tên tác giả</th>
                <th class="col-md-1">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-default btn-xs" type="button"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

