@model IEnumerable<EF_Models.Models.ChiTietMuon>

@{
    ViewBag.Title = "Quản lý mượn sách";
}

<center><h2>Quản lý mượn sách</h2></center>

<form class="form-horizontal form-input">
    <div class="form-group">
        <label for="inputmathe" class="col-xs-12 col-md-offset-1 col-md-4 control-label">Mã thẻ độc giả</label>
        <div class="col-xs-9 col-md-4">
            <div class="input-group">
                <input class="form-control" id="inputmathe" type="text" placeholder="Nhập mã thẻ độc giả" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="info-docgia">
            <div class="img-docgia">
                <img src="~/Content/Image/no-avatar.png" alt="no-avatar" class="img-thumbnail">
            </div>
            <div class="detail-docgia col-md-offset-1 col-md-5">
                <h4>Mã thẻ: DG1</h4>
                <h4>Tên độc giả: Huỳnh Kim Xuân</h4>
                <h4>Chức vụ: Sinh viên</h4>
                <h4>Số điện thoại: 01212186931</h4>
                <h4>Ngày hết hạn: 15/10/2017</h4>
                <button type="button" class="btn btn-primary">Cho mượn sách</button>
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal form-input">
    <div class="form-group">
        <label for="inputmavach" class="col-xs-12 col-md-offset-1 col-md-4 control-label">Mã vạch cuốn sách</label>
        <div class="col-xs-9 col-md-4">
            <div class="input-group">
                <input class="form-control" id="inputmavach" type="text" placeholder="Nhập mã vạch cuốn sách" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>STT</th>
        <th>Mã vạch</th>
        <th>Tên đầu sách</th>
        <th>Tên thể loại</th>
        <th>Chọn</th>
        <th>Xóa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.MaVach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.TheLoai.Ten)
            </td>
            <td><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
            <td><button class="btn btn-default btn-xs" type="button"><i class="fa fa-times" aria-hidden="true"></i></button></td>
        </tr>
    }
</table>
