@media screen and (min-width: 320px) {
  body {
    padding-top: 50px;
    padding-bottom: 20px;
    /* Set padding to keep content from hitting the edges */
    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/ }
    body .body-content {
      padding-left: 15px;
      padding-right: 15px; }
    body .dl-horizontal dt {
      white-space: normal; }
    body .info-docgia .img-docgia {
      width: 50%;
      margin: auto; }
      body .info-docgia .img-docgia img {
        width: 100%; }
    body .form-input {
      padding: 15px 0; } }

@media screen and (min-width: 768px) {
  body .info-docgia .img-docgia {
    width: 25%;
    float: left;
    margin-bottom: 15px; }
  body .btn-inphieumuon {
    margin-bottom: 15px; } }

